canvas {
  border: 2px solid green;
}
p {
  padding-right: 10px;
}
.choseSize {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding-left: 20px;
}

.choseSize .input {
  padding: 16px 5px;
  background-color: red;
}
.choseType {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding-left: 20px;
  /* background-image: url(); */
}
.wierdInput {
  background: url("./email-icon.png") no-repeat 8px 2px;
  background-size: 30px 30px;
  font-weight: 900;
  padding-top: 2px;
  padding-left: 45px;
}
